*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

#cart>div{
    border: 1px solid red;
    border-radius: 10px;
}

#cart>div>img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 80%;
}