*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    color: orangered;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    color: orangered;
    text-decoration: none;
}

#groceries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

#groceries>div{
    border: 1px solid red;
    border-radius: 10px;
}

#groceries>div>img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 80%;
}